@charset "UTF-8";

/*
Base
-----------------------------------------------------*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,path,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup,svg, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Default Style*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  }

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 100%;
    line-height: 1.43;
    color: #222222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body:focus{
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a{
   text-decoration: none;
   cursor: pointer ;
   color: inherit;
}
/*
Layout
-----------------------------------------------------*/

/* Centering */
.l-main{
  width: 100%;
  position: relative;
}
.l-wrapper{
  width: 88.88%;
  max-width: 1600px;
  margin: 0 auto;
}
.l-wrapper-online{
  background-color: #000;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.l-wrapper-online h2{
font-size: 2rem;
}
.l-wrapper-online p{
max-width: 28.75rem;
}
/* News */
.news{
  background-color: #f7f7f7;
  text-align: center;
  font-size: .875rem;
  padding: 1.25rem 5rem;
  font-weight: 600;
}
.news a{
  text-decoration: underline;
  color: inherit;
}
/* Header */
.l-header{
     position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0px;
    z-index: 1;
    color: #fff;
  }
/* Nav */
.l-nav{
  width: 88.88%;
  max-width: 1600px;
  margin: 0 auto;
}
.l-nav p{
height: 80px;
}
.l-nav img{
  margin-top: 23px;
  display: inline-block;
  width: 100px;
}
.nav-first ul{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 200px;
    right: 200px;

}
.nav-first li{
  display: inline-block;
  padding: 26px 15px;;
}
.nav-first p{
  display: inline-block;
}
.nav-first-item a{
  display: inline-block;
  font-weight: 400;
}
.nav-first-item a:hover{
  opacity: 1;
}
.nav-first-item a:hover::after{
  width: 5px;

}
.nav-first-item a:active::after{
  width: 25px;
}
.nav-first-item a::after{
  content: '';
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 2px solid #fff;
  transition: width 0.2s ease-out;
}
.nav-second{
  width: 848px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 32px;
  color: #222222;
  height: 64px;
}
.nav-second ul{
  width: 848px;
}

.nav-second dl{
  display: inline-block;
  height: 64px;
  padding: 14px 75px 14px 20px;
}
.textarea-wrapper{
  padding-left: 0px;
  margin-left: 40px;
  margin-top: -9px;
}
.textarea-wrapper p,
.nav-second dt{
  font-size:.75rem ;
  font-weight: 800;
}
.textarea-wrapper textarea,
.nav-second dd{
  font-size: .875rem;
  color: #717171;
}
.textarea-wrapper textarea{
  border: none;
  resize: none;
  width: 200px;
  height: 64px;
  background-color: transparent;
  outline: 0;
  margin-top: -29px;
  padding-top: 30px;
  font-size: 14px;
  color: #717171;
}
.textarea-wrapper textarea:hover{
  cursor: pointer;
  background-color: inherit;
  outline: 0;
}
.nav-second li:nth-child(2):before,
.nav-second li:nth-child(3):before,
.nav-second li:nth-child(3)::after{
  content: '';
  border-left:solid 1px ;
  color: #cecece;
  padding-top: 10px;
}

.nav-second-contents:hover{
  background-color: #e8e8e8;
  border-radius: 32px;
  cursor: pointer;
}
.nav-second-search{
    background-color: #ff385c;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    padding: 9px 16px 15px;
}
.nav-second-search-wrap{
  width: 57px;
  padding-top: 9px;
}


/* Hero */
.hero img{
  position: relative;
  top: 0;
}
.hero-text-wrapper{
  max-width:1600px ;
  position: relative;
}
.hero-text{
  position: absolute;
  width: 300px;
  top: -458px;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 1;
}
.hero-text h1{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 12px;
}
.hero-text p{
  margin-bottom: 1rem;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
/* @media screen and (min-width: 1024px) */

/* button */
.button{
  display: inline-block ;
  position: relative ;
  text-align: center ;
  width: auto ;
  -ms-touch-action: manipulation ;
  touch-action: manipulation ;
  font-size: .875rem ;
  font-weight: 600 ;
  border-radius: 8px ;
  padding: 8px 16px;
  -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.1s ease, transform 0.1s ease ;
  -moz-transition: box-shadow 0.2s ease, transform 0.1s ease ;
  transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease, transform 0.1s ease ;

}
.button-white{
  color: #222222 ;
  background: #FFFFFF ;
}
.button-black{
  background:#222222 ;
  color:#fff ;
  border: solid 1px;
}

.button:active {
  -webkit-transform: scale(0.96) ;
  -ms-transform: scale(0.96) ;
  transform: scale(0.96) ;
}

.button-white:hover {
  border: none ;
  color: #222222 ;
  background: #EBEBEB ;
}

.button-black:hover {
  background: rgb(113, 113, 113);
}
/* Flex */

.flex{
  display: flex;
  justify-content: space-between;
 }
 /* Point */
 .point{
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px ;
   margin:1.5rem .5rem 4.5rem;
   border-radius:16px;
 }
 .point img{
   border-radius:16px 16px 0 0;
 }
 .point-text{
   padding: 12px 16px 16px 16px;
 }
 .point dt{
   font-weight: bold;
 }

 /* Online */
 .online{
   position: relative;
   margin:1.5rem .5rem 0rem;
   border-radius:16px;
 }
  .online img{
   border-radius:16px;
 }
 .online-text-wrapper{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius:0 0 16px 16px;
  width: 100%;
  background-color: rgb(34, 34, 34);
 }
 .online-text{
  padding: 16px;
  width: 50%;
 }
.online-text-2,
.online-text-3{
  width: 100%;
}

/* Grid */
.grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr !important;
  grid-template-rows: 1fr 1fr !important;
}
.grid-item{
  scroll-snap-align: center !important;
    flex: 0 0 auto !important;
}

.grid:nth-child(n) > :nth-child(1) {
    grid-column: 1 / auto !important;
    grid-row: 1 / span 2 !important;
}
.grid:nth-child(n) > :nth-child(2) {
    grid-column: 2 / auto !important;
    grid-row: 1 / auto !important;
}
.grid:nth-child(n) > :nth-child(3) {
    grid-column: 3 / auto !important;
    grid-row: 1 / auto !important;
}
.grid:nth-child(n) > :nth-child(4) {
    display: block !important;
    grid-column: 2 / span 2 !important;
    grid-row: 2 / auto !important;
}

 /* Footer */
 .footer-first {
  line-height: 2.5;
  padding: 3rem 0;
 }
 .footer-first .flex-item:nth-child(1){
   padding-right:12px;
 }
 .footer-first .flex-item{
  width: 382px;
  display: block;
 }
.footer-first h2 {
  font-size: .75rem;
  font-weight: bold;
}
.footer-first li ,
.footer-second-left p {
  font-size: .875rem;
}
.footer-first ul {

}
.footer-first span:hover {
  border-bottom: solid 1px;
}
.l-footer {
  background-color: #F7F7F7 ;
  border-top: 1px solid #DDDDDD ;
}
.footer-second{
  padding: 1.5rem 0;
  border-top: solid 1px #DDDDDD;
  width: 100%;
}
.footer-second-left {
  text-align: left;
}
.footer-second-right {
  width: 317px;
  float: right;
  font-size: .875rem;
  font-weight: 600;
}
.footer-second-right span{
  border-bottom: solid 1px;
}
.footer-second-right-contents{
width: 150px;
}
.social_icon {
  width: 102px;
}
/* Other */
._vuzcgs {
    -webkit-box-pack: end ;
    -ms-flex-pack: end ;
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    position: relative ;
    display: -webkit-box ;
    display: -moz-box ;
    display: -ms-flexbox ;
    display: -webkit-flex ;
    display: flex ;
    -webkit-align-items: center ;
    align-items: center ;
    -webkit-justify-content: flex-end ;
    justify-content: flex-end ;
    height: 80px ;
}
._i2lfhto {
    -webkit-appearance: none ;
    -moz-appearance: none ;
    appearance: none ;
    background: transparent ;
    border: 0px ;
    cursor: pointer ;
    display: inline-block ;
    font-family: inherit ;
    font-size: 14px ;
    font-weight: 600 ;
    line-height: 18px ;
    margin: 0px ;
    outline: none ;
    overflow: visible ;
    padding: 12px ;
    text-align: inherit ;
    text-decoration: none ;
    -webkit-user-select: auto ;
    -moz-user-select: auto ;
    -ms-user-select: auto ;
    user-select: auto ;
    position: relative ;
    z-index: 1 ;
    color: #FFFFFF ;
}
._i2lfhto::before {
    border-radius: 22px ;
    bottom: 0px ;
    content: "" ;
    left: -3px ;
    position: absolute ;
    right: -3px ;
    top: 0px ;
    z-index: 0 ;
}
._iglww7 {
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    -webkit-align-items: center ;
    align-items: center ;
    display: -webkit-box ;
    display: -moz-box ;
    display: -ms-flexbox ;
    display: -webkit-flex ;
    display: flex ;
    height: 100% ;
    position: relative ;
    z-index: 1 ;
}
._xpkakx {
    margin-right: 6px ;
}
._z5mecy {
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    -webkit-align-items: center ;
    align-items: center ;
    display: -webkit-box ;
    display: -moz-box ;
    display: -ms-flexbox ;
    display: -webkit-flex ;
    display: flex ;
    height: 18px ;
    position: relative ;
    z-index: 1 ;
}
._167wsvl {
    display: inline ;
    position: relative ;
}
._1usxwsg6 {
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    appearance: none ;
    background: transparent ;
    border: 1px solid #DDDDDD ;
    color: #222222 ;
    cursor: pointer ;
    display: -webkit-inline-box ;
    display: -moz-inline-box ;
    display: -ms-inline-flexbox ;
    display: -webkit-inline-flex ;
    display: inline-flex ;
    font-family: inherit ;
    font-size: inherit ;
    font-weight: inherit ;
    line-height: inherit ;
    margin: 0px ;
    outline: none ;
    overflow: visible ;
    padding: 5px 5px 5px 12px ;
    text-align: inherit ;
    text-decoration: none ;
    -webkit-user-select: auto ;
    -moz-user-select: auto ;
    -ms-user-select: auto ;
    user-select: auto ;
    -webkit-align-items: center ;
    align-items: center ;
    background-color: #FFFFFF ;
    border-radius: 21px ;
    height: 42px ;
    position: relative ;
    vertical-align: middle ;
    -webkit-transition: box-shadow 0.2s ease ;
    -moz-transition: box-shadow 0.2s ease ;
    transition: box-shadow 0.2s ease ;
    z-index: 1 ;
}
._1sfnwgq {
    color: #717171 ;
    -webkit-flex: 0 0 30px ;
    -ms-flex: 0 0 30px ;
    flex: 0 0 30px ;
    height: 30px ;
    margin-left: 12px ;
    overflow: hidden ;
    position: relative ;
    width: 30px ;
    z-index: 1 ;
}
._w2q1b8{

  margin-right: 8px;

}
._w2q1b8:hover{
  background-color: rgb(232, 232, 232,0.3);
  border-radius: 32px;
}
/* jQuery */

.text {
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  color: #222222;
  padding: 1em 1.5em;
  border-radius: 10px;
  /* opacity: 1; */
}
.box1{
  position: absolute;
  top: 73px;
  left: -132px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  color: #222222;
  border-radius: 12px;
  display: none;
}
.box1-text1,
.box1-text2{
  padding-left: 16px;
  padding-right: 80px;
}
.box1-text1{
  padding-top: 18px;
  padding-bottom: 12px;
}
.box1-text2{
  padding-bottom: 18px;
  padding-top: 12px;
}
.box1-text1:hover,
.box1-text2:hover{
  background-color: #f7f7f7;
}
.box1-text1:hover{
 border-radius:10px 10px 0 0 ;
}
.box1-text2:hover{
  border-radius: 0 0 10px 10px;
}
